In [1]:
import pandas as pd
import numpy as np
import igraph as ig

In [7]:
file_path1 = r'E:\netData\ComplexNet\blogs.txt'
file_path2 = r'E:\netData\\ComplexNet\email.txt'
file_path3 = r'E:\netData\\ComplexNet\wikipedia.txt'

In [3]:
def Hindex(indexList):
    indexSet = sorted(list(set(indexList)), reverse = True)
    h = 1
    for index in indexSet:
        if h <= index:
            h += 1
        else:
            break
    return h-1

In [4]:
def calculate_CD(x):
    if g.vs[x].indegree()== 0:
        return 0,0
    elif g.vs[x].outdegree()== 0:
        return 1,1
    else:
        array = np.array([])
        for successor in g.vs[x].successors():
            array = np.append(array,successor.predecessors())
        array = np.unique(array)
        
        nj = np.intersect1d(array,g.vs[x].predecessors())
        ni = np.setdiff1d(g.vs[x].predecessors(),nj)
        nk = np.setdiff1d(array,g.vs[x].predecessors())

        CD = (len(ni)-len(nj))/(len(ni) + len(nj)+ len(nk))
        
        D = (len(ni))/(len(ni) + len(nj)+ len(nk))
        return [D, CD]

In [5]:
def calculate_2D(x):
    if g.vs[x].outdegree() == 0:
        return 1, 1

    successors_1 = g.vs[x].successors()
    successors_2 = []

    # Collect successors of successors (second generation)
    for successor_1 in successors_1:
        successors_2.extend(successor_1.successors())

    if len(successors_2) == 0:
        return 1, 1

    array = np.array([])

    # Collect predecessors of successors (second generation)
    for successor_2 in successors_2:
        array = np.append(array, successor_2.predecessors())

    array = np.unique(array)

    nj = np.intersect1d(array, g.vs[x].predecessors())
    ni = np.setdiff1d(g.vs[x].predecessors(), nj)
    nk = np.setdiff1d(array, g.vs[x].predecessors())

    D2 = len(ni)/(len(ni) + len(nj)+ len(nk))
    return D2

# blogs

In [8]:
with open(file_path1) as f:
    d = f.readlines()

In [9]:
edgesdata = []
for i in d:
    edgesdata.append(i.strip().split()[::-1])
edgesdata = np.array(edgesdata).astype(int)

In [10]:
g = ig.Graph(edges=edgesdata, directed=True)

In [11]:
M = g.vcount()

In [12]:
Dlst = []
D2lst = []
CDlst = []
hlst = []

In [14]:
for i in range(M):
    DCD = calculate_CD(i)
    Dlst.append(DCD[0])
    CDlst.append(DCD[1])
    
    D2lst.append(calculate_2D(i))
    
    hlst.append(Hindex([neighbors.degree() for neighbors in g.vs[i].neighbors()]))

In [24]:
out_data = [Dlst,D2lst ,CDlst ,g.degree(),g.coreness(),hlst,g.pagerank()]
name_data = ['D','2stepD','CD','degree','coreness','h-index','pagerank']
Ddata = pd.DataFrame(dict(zip(name_data , out_data)))

In [25]:
Ddata.describe()

,D,2stepD,CD,degree,coreness,h-index,pagerank
count,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000
mean,0.217777,0.195398,0.167942,31.061224,16.638367,17.316735,0.000816
std,0.389458,0.391435,0.417781,45.334617,13.977129,16.599303,0.001571
min,0.000000,0.000000,-0.833333,0.000000,0.000000,0.000000,0.000174
25%,0.000000,0.000000,-0.049724,3.000000,3.000000,3.000000,0.000188
50%,0.008130,0.002392,-0.006173,14.000000,13.000000,12.000000,0.000356
75%,0.116505,0.017751,0.040000,40.000000,29.000000,28.000000,0.000869
max,1.000000,1.000000,1.000000,467.000000,43.000000,69.000000,0.035391

In [26]:
Ddata.to_csv(r'E:\netData\complexNetdataset\blogs-data.csv',index = False)

# Email

In [27]:
with open(file_path2) as f:
    d = f.readlines()

In [28]:
edgesdata = []
for i in d:
    edgesdata.append(i.strip().split()[:2][::-1])
edgesdata = np.array(edgesdata).astype(int)

In [29]:
g = ig.Graph(edges=edgesdata, directed=True)

In [30]:
M = g.vcount()

In [34]:
Dlst = []
D2lst = []
CDlst = []
hlst = []

In [35]:
for i in range(M):
    DCD = calculate_CD(i)
    Dlst.append(DCD[0])
    CDlst.append(DCD[1])
    
    D2lst.append(calculate_2D(i))
    
    hlst.append(Hindex([neighbors.degree() for neighbors in g.vs[i].neighbors()]))

In [36]:
out_data = [Dlst,D2lst ,CDlst ,g.degree(),g.coreness(),hlst,g.pagerank()]
name_data = ['D','2stepD','CD','degree','coreness','h-index','pagerank']
Ddata = pd.DataFrame(dict(zip(name_data , out_data)))

In [37]:
Ddata.describe()

,D,2stepD,CD,degree,coreness,h-index,pagerank
count,2030.000000,2030.000000,2030.000000,2030.000000,2030.000000,2030.000000,2030.000000
mean,0.261421,0.258426,0.237412,38.683744,21.291133,3.113793,0.000493
std,0.435295,0.435264,0.467682,239.252995,78.649684,7.010965,0.002615
min,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000130
25%,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000130
50%,0.000000,0.000000,0.000000,2.000000,2.000000,1.000000,0.000130
75%,1.000000,1.000000,1.000000,7.000000,6.000000,2.000000,0.000178
max,1.000000,1.000000,1.000000,5813.000000,1462.000000,74.000000,0.067987

In [38]:
Ddata.to_csv(r'E:\netData\complexNetdataset\email-data.csv',index = False)

# Wikipedia

In [45]:
with open(file_path3) as f:
    d = f.readlines()

In [46]:
edgesdata = []
for i in d:
    edgesdata.append(i.strip().split()[:2][::-1])
edgesdata = np.array(edgesdata).astype(int)

In [47]:
g = ig.Graph(edges=edgesdata, directed=True)

In [48]:
M = g.vcount()

In [52]:
Dlst = []
D2lst = []
CDlst = []
hlst = []

In [53]:
for i in range(M):
    DCD = calculate_CD(i)
    Dlst.append(DCD[0])
    CDlst.append(DCD[1])
    
    D2lst.append(calculate_2D(i))
    
    hlst.append(Hindex([neighbors.degree() for neighbors in g.vs[i].neighbors()]))

In [54]:
out_data = [Dlst,D2lst ,CDlst ,g.degree(),g.coreness(),hlst,g.pagerank()]
name_data = ['D','2stepD','CD','degree','coreness','h-index','pagerank']
Ddata = pd.DataFrame(dict(zip(name_data , out_data)))

In [55]:
Ddata.describe()

,D,2stepD,CD,degree,coreness,h-index,pagerank
count,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000
mean,0.546666,0.544984,0.401093,23.272420,14.671743,2.743655,0.000846
std,0.496944,0.498056,0.723086,165.699483,78.370873,4.300260,0.004018
min,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000192
25%,0.000000,0.000000,-0.011300,1.000000,1.000000,1.000000,0.000192
50%,1.000000,1.000000,1.000000,3.000000,3.000000,2.000000,0.000192
75%,1.000000,1.000000,1.000000,4.000000,4.000000,2.000000,0.000387
max,1.000000,1.000000,1.000000,3297.000000,1372.000000,45.000000,0.095667

In [56]:
Ddata.to_csv(r'E:\netData\complexNetdataset\Wiki-data.csv',index = False)