In [1]:
import pandas as pd
import numpy as np
import random
import seaborn as sns
import matplotlib.pyplot as plt
import scipy
import seaborn
import powerlaw
from scipy import stats

import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model
from scipy.stats import norm

import matplotlib as mpl
from scipy.stats import kstest

In [2]:
path2 = r'E:\netData\APS\3 properties\nodepro2010.zip'
df = pd.read_csv(path2)

In [4]:
ff = df[['D', '2stepD','CD','degree','h','pagerank']]

In [5]:
ff.index = range(len(ff))

In [6]:
ff

               D    2stepD        CD  degree   h      pagerank
0       1.000000  1.000000  1.000000       1   1  1.105597e-06
1       1.000000  1.000000  1.000000       5   2  1.797312e-06
2       0.000000  0.000000  0.000000       0   0  4.297752e-07
3       0.000000  0.000000  0.000000       0   0  4.297752e-07
4       1.000000  1.000000  1.000000       4   1  2.372948e-06
...          ...       ...       ...     ...  ..           ...
463343  0.015748  0.006154 -0.047244      19   7  9.391861e-06
463344  0.000000  0.000000  0.000000       2   0  4.297752e-07
463345  0.170290  0.039454  0.159420      56  12  9.709074e-06
463346  0.015385  0.013699 -0.030769      24   2  2.722739e-06
463347  0.125494  0.010978  0.051383     597  37  4.555454e-04

[463348 rows x 6 columns]

# top10%

In [22]:
t10 = int(np.ceil(len(ff)*0.1))

In [23]:
D = ff.sort_values('D',ascending = False).index[:t10]
D2 = ff.sort_values('2stepD',ascending = False).index[:t10]
CD = ff.sort_values('CD',ascending = False).index[:t10]
degree = ff.sort_values('degree',ascending = False).index[:t10]
hindex = ff.sort_values('h',ascending = False).index[:t10]
pagerank = ff.sort_values('pagerank',ascending = False).index[:t10]

In [24]:
# sorted(ff['DIO'].values)[734:]
def cal_overlap(D,G):
    x = 0
    for i in D:
        if i in G:
            x += 1
    return x/len(D)

In [25]:
matrix = np.zeros([6,6])
lst = [D,D2,CD,degree,hindex,pagerank]

In [26]:
for i in range(6):
    for j in range(6):
        matrix[i,j]=cal_overlap(lst[i],lst[j])

In [27]:
f1 =pd.DataFrame(matrix , columns=ff.columns, index=ff.columns)

In [28]:
f1

                 D    2stepD        CD    degree         h  pagerank
D         1.000000  0.718507  0.801834  0.143369  0.209172  0.336139
2stepD    0.718507  1.000000  0.751959  0.040294  0.057689  0.161476
CD        0.801834  0.751959  1.000000  0.115356  0.172656  0.290558
degree    0.143369  0.040294  0.115356  1.000000  0.666321  0.463775
h         0.209172  0.057689  0.172656  0.666321  1.000000  0.618647
pagerank  0.336139  0.161476  0.290558  0.463775  0.618647  1.000000

In [29]:
f1.to_csv(r'E:\netData\complexNetdataset\bubbleMatrixData\APStopp10.csv')

# top30%

In [18]:
t30 = int(np.ceil(len(ff)*0.3))

In [19]:
D = ff.sort_values('D',ascending = False).index[:t30]
D2 = ff.sort_values('2stepD',ascending = False).index[:t30]
CD = ff.sort_values('CD',ascending = False).index[:t30]
degree = ff.sort_values('degree',ascending = False).index[:t30]
hindex = ff.sort_values('h',ascending = False).index[:t30]
pagerank = ff.sort_values('pagerank',ascending = False).index[:t30]

In [20]:
def cal_overlap(D,G):
    x = 0
    for i in D:
        if i in G:
            x += 1
    return x/len(D)

matrix = np.zeros([6,6])
lst = [D,D2,CD,degree,hindex,pagerank]

for i in range(6):
    for j in range(6):
        matrix[i,j]=cal_overlap(lst[i],lst[j])

f1 =pd.DataFrame(matrix , columns=ff.columns, index=ff.columns)

In [21]:
f1.to_csv(r'E:\netData\complexNetdataset\bubbleMatrixData\APStopp30.csv')